# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

## Exercícios Cap02

In [ ]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [1]:
lista = [1,2,3,4,5,6,7,8,9,10]

In [3]:
print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

In [9]:
lista2 = ['maria','joao','pedro','jose','antonia']

In [11]:
print(lista2)

['maria', 'joao', 'pedro', 'jose', 'antonia']

In [ ]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

In [24]:
str1 = 'Maria'

In [25]:
str2 = ' e '

In [32]:
str3 = 'João'+ str2 + str1

In [33]:
str3

'João e Maria'

In [ ]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [48]:
tupla1 = (1,2,2,2,3,4,4,4,5)

In [54]:
tupla1.count(4)

3

In [ ]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

In [55]:
dic = {}

In [56]:
dic

{}

In [ ]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [70]:
dic1 = {"marcos":23, "mario":11, "joao":2}

In [71]:
dic1

{'marcos': 23, 'mario': 11, 'joao': 2}

In [72]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

In [75]:
dic1["vitor"] = 2

In [76]:
dic1

{'marcos': 23, 'mario': 11, 'joao': 2, 'vitor': 2}

In [ ]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

In [77]:
lista1 = {"marcos":23, "mario":11, "joao":[2,5]}

In [78]:
lista1

{'marcos': 23, 'mario': 11, 'joao': [2, 5]}

In [ ]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.

In [80]:
lista1 = ["Nome",(11,12),{"Key1":10, "Key2":2}, float(10.5)]

In [81]:
lista1

['Nome', (11, 12), {'Key1': 10, 'Key2': 2}, 10.5]

In [83]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [84]:
frase[:18]

'Cientista de Dados'

# Fim

### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>

Parabéns se você chegou até aqui. Use o voucher PYTHONDSA9642 para comprar qualquer curso ou Formação da DSA com 5% de desconto.