# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 4</font>

## Download: http://github.com/dsacademybr

# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

## List Comprehension

In [1]:
# Retornar cada caracter em uma sequência de caracteres
lst = [x for x in 'python']

In [2]:
# Check
lst

['p', 'y', 't', 'h', 'o', 'n']

In [11]:
lst2 = [x for x in '10,15,25,30']

In [12]:
lst2

['1', '0', ',', '1', '5', ',', '2', '5', ',', '3', '0']

In [13]:
type(lst)

list

In [14]:
# Variável x elevada ao quadrado para um range de números e retornar uma lista
lst = [x**2 for x in range(0, 11)]

In [15]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
# Verificar os números pares em um range de números
lst = [x for x in range(11) if x % 2 == 0]

In [17]:
lst

[0, 2, 4, 6, 8, 10]

In [18]:
# Converter Celsius para Fahrenheit
celsius = [0,10,20.1,34.5]

fahrenheit = [ ((float(9) / 5) * temp + 32) for temp in celsius ]

fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [19]:
# Operações aninhadas
lst = [ x**2 for x in [x**2 for x in range(11)]]

In [20]:
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [21]:
# Imprime somente os numeros par uma lista elevado ao quadrado e uma lista alevado ao quadrado 
lst = [ x**2 for x in [x**2 for x in range(11)] if x % 2 == 0]

In [22]:
lst

[0, 16, 256, 1296, 4096, 10000]

In [24]:
# Imprime somente os numeros impar uma lista elevado ao quadrado e uma lista alevado ao quadrado 
lst = [ x**2 for x in [x**2 for x in range(11)] if x % 2 != 0]

In [25]:
lst

[1, 81, 625, 2401, 6561]

# FIM

### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>